

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background: #1e1e1e;
}


.hljs-comment {
    color: #447b35;
    font-style: italic;
}


.hljs-quote {
    color: #5c6370;
    font-style: italic;
}


.hljs-doctag {
    color: #c678dd;
}


.hljs-keyword {
    color: #3c8cd5;
}


.hljs-formula {
    color: #c678dd;
}


.hljs-section {
    color: #e06c75;
}


.hljs-name {
    color: #e06c75;
}


.hljs-selector-tag {
    color: #e06c75;
}


.hljs-deletion {
    color: #e06c75;
}


.hljs-subst {
    color: #e06c75;
}


.hljs-literal {
    color: #56b6c2;
}


.hljs-string {
    color: #98c379;
}


.hljs-regexp {
    color: #98c379;
}


.hljs-addition {
    color: #98c379;
}


.hljs-attribute {
    color: #98c379;
}


.hljs-meta {
    color: #9b9b9b;;
}


.hljs-meta-keyword {
    color: #9b9b9b;
}


.hljs-meta-string {
    color: #b57c69;
}

.hljs-built_in {
    color: #afaef2;
}


.hljs-attr {
    color: #d19a66;
}


.hljs-variable {
    color: #d19a66;
}


.hljs-template-variable {
    color: #d19a66;
}


.hljs-type {
    color: #d19a66;
}


.hljs-selector-class {
    color: #d19a66;
}


.hljs-selector-attr {
    color: #d19a66;
}


.hljs-selector-pseudo {
    color: #d19a66;
}


.hljs-number {
    color: #b5cea8;
}

.hljs-symbol {
    color: #61aeee;
}


.hljs-bullet {
    color: #61aeee;
}


.hljs-link {
    color: #61aeee;
}

.hljs-selector-id {
    color: #61aeee;
}


.hljs-title {
    color: #61aeee;
}


.hljs-emphasis {
    font-style: italic;
}


.hljs-strong {
    font-weight: bold;
}


.hljs-link {
    text-decoration: underline;
}


.hljs-class .hljs-title {
    color: #3ca58d;
}


.hljs-function .hljs-title {
    color: #c4bf81;
}